@{
    ViewData["Title"] = "A Book A Day";
}

@model ProjectListViewModel
<!--
    New Bootstrap:
        table-hover
        thead-dark
        table-secondary
-->
<div>
    <!--Bootstrap to create a table-->
    <table class="table table-secondary table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <!--Sets the table column names-->
            <tr><th>Title</th><th>Author First Name</th><th>Author Last Name</th><th>Publisher</th><th>ISBN</th><th>Classification</th><th>Category</th><th>Price</th><th>Number of Pages</th></tr>
        </thead>

        <!--Loops through the list of books and puts it in a table-->
        <tbody >
            @foreach (var x in Model.Books)
            {
                <partial name="BookCategory" model="x" />
            }
        </tbody>
    </table>
</div>

<!--Calls our tag helper to make nav-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>
